[package]
name = "wasm-ttt-rs"
version = "0.1.0"
authors = ["skim <skim@swainslane.co>"]
repository = "https://github.com/sl4m/wasm-ttt-rs"
edition = "2018"

[lib]
crate-type = ["cdylib"]

[features]
default = []
debug = ["console_error_panic_hook"]

[dependencies]
ttt-rs = { git = "https://github.com/sl4m/ttt-rs" }
wasm-bindgen = "0.2.63"

console_error_panic_hook = { version = "0.1.6", optional = true }

[dev-dependencies]
wasm-bindgen-test = "0.3.13"

[profile.release]
opt-level = "s"
