body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#blurb {
  font-family: monospace;
  font-size: 1em;
  padding-top: 1em;
}

#message {
  font-family: monospace;
  font-size: 2em;
  padding-bottom: 1em;
}

#board {
  border-collapse: collapse;
  height: 75%;
  width: 50%;
}

#board tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.cell {
  border: 5px solid #4D4B4B;
  color: #4D4B4B;
  cursor: pointer;
  font-family: monospace;
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
}

.cell::after {
  content: "";
  margin-top: 100%;
}

.cell:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

.cell:nth-of-type(2) {
  border-top-color: transparent;
}

.cell:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

.disable-click {
  pointer-events: none;
}
