body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100vw;
}

#blurb {
  font-family: monospace;
  font-size: 1em;
  padding-top: 1em;
}

#board {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 20vw;
  border: 5px solid #4D4B4B;
  color: #4D4B4B;
  cursor: pointer;
  font-family: monospace;
  font-size: 5em;
  text-align: center;
}

.cell:nth-child(n+7) {
  border-bottom-color: transparent;
}

.cell:nth-child(3n+1) {
  border-left-color: transparent;
}

.cell:nth-child(3n+3) {
  border-right-color: transparent;
}

.cell:nth-child(-n+3) {
  border-top-color: transparent;
}

.disable-click {
  pointer-events: none;
}

#end-game {
  font-family: monospace;
  font-size: 2em;
  padding-bottom: 1em;
  visibility: hidden;
}
