name: Build

on:
  push:
    branches:
      - dev
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - dev
    paths-ignore:
      - '**.md'

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build:
    name: Build

    strategy:
      matrix:
        browser:
        - chrome
        - firefox
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
        exclude:
        - os: windows-latest
          browser: firefox

    runs-on: ${{matrix.os}}

    steps:

    - uses: actions/checkout@v2

    - name: Install Main Toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
        profile: minimal
        components: clippy
        override: true

    - name: Install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: Versions
      run: |
        rustup --version
        cargo --version
        cargo clippy --version
        wasm-pack --version

    - name: Build
      run: cargo build --verbose

    - name: Test
      run: cargo test --verbose

    - name: Clippy
      run: cargo clippy

    - name: Test WASM
      run: wasm-pack test --headless --${{ matrix.browser }}

  deploy:
    name: Deploy
    #needs: build
    #if: github.ref == 'master'

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'

    - name: Install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: Versions
      run: |
        node -v
        npm -v

    - name: Build WASM
      run: wasm-pack build --release

    - name: WASM size
      run: wc -c wasm_ttt_rs_bg.wasm
      working-directory: ./pkg

    - name: Build www
      run: |
        npm ci
        npm run build
      working-directory: ./www

    - name: Deploy to GH Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./www/dist
        user_name: 'sl4m'
        user_email: 'skim@swainslane.co'
        allow_empty_commit: true
